@{
    ViewData["Title"] = "Home Page";
}

<form method="post" asp-controller="Home" asp-action="AssignShift">
    <div class="text-center">
        <h1 class="display-4 text-primary">Welcome TO AMD Team</h1>
        <p>Human Resource SubDomain System</p>
        <hr />
        <table>
            <tr>
                <td><label>Employee ID : </label></td>
                <td><input type="text" id="EmployeeId" name="EmployeeId" /></td>
            </tr>
            <tr>
                <td><label>Shift ID : </label></td>
                <td><input type="text" id="ShiftId" name="ShiftId" /></td>
            </tr>
            <tr>
                <td><label>Segment ID : </label></td>
                <td><input type="text" id="SegmentId" name="SegmentId" /></td>
            </tr>
            <tr>
                <td><label>Start Date : </label></td>
                <td><input type="text" id="StartDate" name="StartDate" /></td>
            </tr>
        </table>

        <input type="submit" class="btn btn-success"/>
    </div>

</form>
