@*@model List<HR.EmployeeContext.Domain.Employees.Employee>*@
@{
    ViewData["Title"] = "Home Page";
}


<img src="Images/Eterno-Mini_honariiiiiiii.jpg" height="800" width="1200" class="align-content-center align-content-md-center" style="border-radius: 50%;" />


@*<table>
    <tr>
        @foreach (var item in Model)
        {
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
        }
    </tr>
</table>*@