@{
    ViewData["Title"] = "Home Page";
}

<form method="post" asp-controller="Home" asp-action="AddIOs">
    <div class="text-center">
        <h1 class="display-4 text-primary">Welcome TO AMD Team</h1>
        <p>Human Resource SubDomain System</p>
        <hr />
        <table>
            <tr>
                <td><label>Employee ID : </label></td>
                <td><input type="text" id="EmployeeId" name="EmployeeId" /></td>
            </tr>

            <tr>
                <td><label> Date OF Today : </label></td>
                <td><input type="text" id="Date" name="Date" /></td>
            </tr>
            <tr>
                <td><label>Arrival Time : </label></td>
                <td><input type="text" id="ArrivalTime" name="ArrivalTime" /></td>
            </tr>

            <tr>
                <td><label> Exit Time : </label></td>
                <td><input type="text" id="ExiTime" name="ExiTime" /></td>
            </tr>
        </table>
 
        <input type="submit" class="btn btn-success"/>
    </div>

</form>
