@{
    ViewData["Title"] = "Home Page";
}

<form method="post" asp-controller="Home" asp-action="CreateShift">
    <div class="text-center">
        <h1 class="display-4 text-primary">Welcome TO AMD Team</h1>
        <p>Human Resource SubDomain System</p>
        <hr />
        <table>
            <tr>
                <td><label>Shift Title : </label></td>
                <td><input type="text" id="ShiftTitle" name="ShiftTitle" /></td>
            </tr>
        </table>
         
        <input type="submit" class="btn btn-success"/>
    </div>

</form>
